html,
body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    color: #4444
}

main {
    margin: 3em auto;
    max-width: 90vw;
    width: 50ch;
}

h1 {
    font-family: 'Raleway';
    font-size: 48px;
    color: #333333
}
h2 {
    font-family: 'Roboto';
    font-size: 32px;
    color: green;
}